@model Park

@{
    ViewData["Title"] = "Detail";

}

<div>
    <img src="~/images/@(Model.ParkCode).jpg">

    <div>
        <h2>@Model.ParkName</h2>
        <p>@Model.State</p>
        <p>@Model.ParkDescription</p>
        <label asp-for="Acreage"></label>
        <p>@Model.Acreage</p>
        <label asp-for="ElevationInFeet"></label>
        <p>@Model.ElevationInFeet</p>
        <label asp-for="MilesOfTrail"></label>
        <p>@Model.MilesOfTrail</p>
        <label asp-for="NumberOfCampsites"></label>
        <p>@Model.NumberOfCampsites</p>
        <label asp-for="Climate"></label>
        <p>@Model.Climate</p>
        <label asp-for="YearFounded"></label>
        <p>@Model.YearFounded</p>
        <label asp-for="AnnualVisitorCount"></label>
        <p>@Model.AnnualVisitorCount</p>
        <p>@Model.InspirationalQuote</p>
        <p>@Model.InspirationalQuoteSource</p>
        <label asp-for="EntryFee"></label>
        <p>@Model.EntryFee</p>
        <label asp-for="NumberOfAnimalSpecies"></label>
        <p>@Model.NumberOfAnimalSpecies</p>



    </div>
        
    <div>
        @foreach (var detail in Model.WeatherList)
        {
            @switch (detail.Forecast)
            {
                case "snow":
                    <img src="~/images/snow.png" />
                    break;

                case "rain":
                    <img src="~/images/rain.png" />
                    break;

                case "thunderstorms":
                    <img src="~/images/thunderstorms.png" />
                    break;

                case "sunny":
                    <img src="~/images/sunny.png" />
                    break;

                case "partly-cloudy-day":
                    <img src="~/images/partly-cloudy-day.png" />
                    break;

                case "cloudy":
                    <img src="~/images/cloudy.png" />
                    break;
            }
            <p></p>
            <label>Low</label>
            <p>@detail.DisplayLow</p>
            <label>High</label>
            <p>@detail.DisplayHigh</p>
            <label>Forecast</label>
            <p>@detail.Forecast</p>

            @switch (detail.Forecast)
            {
                case "snow":
                    <p>Pack snowshoes.</p>
                    break;

                case "rain":
                    <p>Pack rain gear and wear waterproof shoes.</p>
                    break;

                case "thunderstorms":
                    <p>Seek shelter and avoid hiking on exposed ridges.</p>
                    break;

                case "sunny":
                    <p>Pack sunblock.</p>
                    break;

            }


            if (detail.TemperatureHigh > 75)
            {
                <p>Bring an extra gallon of water.</p>
            }
            else if (detail.TemperatureHigh - detail.TemperatureLow == 20)
            {
                <p>Wear breathable layers.</p>
            }
            else if (detail.TemperatureLow < 20)
            {
                <p>Dangerously low temperatures. Be cautious and stay warm.</p>
            }

        }


    </div>

    <div>



        <form asp-action="SwitchTemperatureType" asp-controller="Home" method="post">
            <input type="hidden" value="@Model.ParkCode" name="parkCode" />
            <input type="submit" value="Switch Temperature Type" />
        </form>


    </div>

